amqp==5.3.1
asgiref==3.8.1
attrs==25.3.0
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.7.0
distlib==0.3.9
Django==5.1.7
django-crispy-forms==1.10.0
django-tinymce==4.1.0
execnet==2.1.1
filelock==3.18.0
greenlet==3.1.1
identify==2.6.9
idna==3.10
iniconfig==2.1.0
kombu==5.5.0
nodeenv==1.9.1
packaging==24.2
Pillow==8.0.1
platformdirs==4.3.7
playwright==1.51.0
pluggy==1.5.0
pre-commit==2.9.3
prompt_toolkit==3.0.50
psycopg2-binary==2.8.6
py==1.11.0
pyee==12.1.1
pytest==8.3.5
pytest-base-url==2.1.0
pytest-cov==2.10.1
pytest-django==4.1.0
pytest-forked==1.6.0
pytest-playwright==0.0.9
pytest-xdist==2.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
redis==3.5.3
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
toml==0.10.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
virtualenv==20.29.3
wcwidth==0.2.13
